/* STYLE */

* {
    background-color: bisque;
}

main {
    display: flex;
}

.recipe-box {
    background-color: rgba(183, 173, 160, 0.30);
    border-radius: 20px;
    margin: 15px;
    flex: 1;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background-color: transparent;
}

.title {
    color: rgb(47, 47, 47);
    text-align: center;
}

.recipe-link {
    color: transparent;
    text-align: center;
    background-color: transparent;
}