/* STYLE */

* {
    background-color: bisque;
}

.recipe-box {
    background-color: rgba(183, 173, 160, 0.30);
    border-radius: 20px;
    image-rendering: auto;
    margin: 15px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.title {
    color: rgb(47, 47, 47);
}

.recipe-box.link {
    color: transparent;
}